target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store.terraform*


# IDE
.idea/

# Terraform
.terraform.lock.hcl  # если не требуется фиксировать версии провайдеров для команды
.terraform/
*.tfstate
*.tfstate.backup
tfplan

# Maven
dependency-reduced-pom.xml
target/              # если у вас Java-проект, добавьте папку сборки

# Прочее
*.backup